
<html layout:decorator="layout/layoutPadrao">



<section layout:fragment="conteudo"
	class="aw-layout-content  js-content">


	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de Cliente</h1>
		</div>
	</div>

	<div class="container-fluid">

		<!-- 	<div class="alert  alert-danger  alert-dismissible" role="alert"> -->
		<!-- 		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
		<!-- 		<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado. -->
		<!-- 	</div> -->

		<form method="POST" th:object="${cerveja}"
			class="form-vertical  js-form-loading">


			<div class="row">

				<div class="col-sm-12 form-group">

					<label for="nome">Nome</label> <input id="nome" type="text"
						class="form-control" />
				</div>

			</div>



			<div class="row">


				<div class="col-sm-3 form-group">

					<label for="pessoa">Tipo de Pessoa</label>
					<div style="padding-top: 7px">
						<div class="radio radio-inline">
							<input type="radio" name="pessoa" /> <label>Física</label>
						</div>
						<div style="padding-left: 20px" class="radio radio-inline">

							<input type="radio" name="pessoa" /> <label>Jurídica</label>

						</div>

					</div>
				</div>



				<div class="col-sm-9 form-group">

					<label for="nome">CPF/CNPJ</label> <input id="nome" type="text"
						class="form-control" />
				</div>




			</div>
			<div class="row">


				<div class="col-sm-5 form-group">

					<label for="nome">Telefone</label> <input id="nome" type="text"
						class="form-control" />
				</div>



				<div class="col-sm-7 form-group">

					<label for="nome">E-mail</label> <input id="nome" type="text"
						class="form-control" />
				</div>





			</div>

			<div class="row">


				<div class="col-sm-4 form-group">

					<label for="nome">Logradouro</label> <input id="nome" type="text"
						class="form-control" />
				</div>



				<div class="col-sm-4 form-group">

					<label for="nome">Número</label> <input id="nome" type="text"
						class="form-control" />
				</div>

				<div class="col-sm-4 form-group">

					<label for="nome">Complemento</label> <input id="nome" type="text"
						class="form-control" />
				</div>




			</div>

			<div class="row">

				<div class="col-sm-4 form-group">

					<label for="nome">CEP</label> 
					<input id="nome" type="text" class="form-control" />
				</div>



				<div class="col-sm-4 form-group">

					<label for="estilo">Estado</label>	
					
						<select id="estilo" class="form-control">

							<option value="">Selecione um Estado</option>

						</select>
					
				
				</div>
				
				
				<div class="col-sm-4 form-group">

					<label for="estilo">Cidade</label>	
					
					
						<select id="estilo" class="form-control">

							<option value="">Selecione uma Cidade</option>

						</select>

				</div>
				
				
				
				

			</div>
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>


	<div th:replace="/estilo/CadastroNovoEstilo"></div>
</section>





</html>
